/* reset */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --primary-color: #3b3a5d;
  --secondary-color: #ffbb50;
  --opacity-secundary-color: #ffbc5018;
  --content-color: #8f8f8f;
  --tertiary-color: #b16642;
  --quaternary-color: #f5f1ef;
  --opacity-tertiary-color: #b1654224;
  --border-color: #b16642;
  --white: #fff;
  --gap: 2rem;
  --height-nav: 7rem;
  --font-size-sm: 1.6rem;
  --font-size-md: 3.5rem;
  --font-size-lg: 4.5rem;
}

html {
  font-family: var(--body-font);
  color: var(--body-font);
  scroll-behavior: smooth;
  font-size: 10px;
}

body {
  overflow-x: hidden;
}
section {
  padding: 3.9rem 0;
  overflow-x: hidden;
}

img {
  width: 100%;
  max-width: 100%;
}

a {
  text-decoration: none;
  color: var(--primary-color);
}
p {
  font-size: 1.6rem;
}

.container {
  width: 100%;
  max-width: 100rem;
  margin: 0 auto;
}

.wrapper {
  height: 100%;
}

.relative {
  position: relative;
}

.absolute {
  position: absolute;
}

.text {
  color: var(--primary-color);
  font-family: Kufam;
  font-size: 45px;
  font-style: normal;
  font-weight: 700;
  line-height: 118.5%; /* 53.325px */
}

h1 {
  color: var(--primary-color);
  font-family: Kufam;
  font-size: 45px;
  font-style: normal;
  font-weight: 700;
  line-height: 110%; /* 49.5px */
}

h2 {
  color: var(--primary-color);
  font-family: Kufam;
  font-size: 40px;
  font-style: normal;
  font-weight: 700;
  line-height: 110%; /* 44px */
}
h3 {
  color: var(--primary-color);
  font-family: Kufam;
  font-size: 35px;
  font-style: normal;
  font-weight: 700;
  line-height: 110%; /* 38.5px */
}
h4 {
  color: var(--primary-color);
  font-family: Kufam;
  font-size: 30px;
  font-style: normal;
  font-weight: 700;
  line-height: 110%; /* 33px */
}
h5 {
  color: var(--primary-color);
  font-family: Kufam;
  font-size: 25px;
  font-style: normal;
  font-weight: 700;
  line-height: 110%; /* 27.5px */
}

h6 {
  color: var(--primary-color);
  font-family: Kufam;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: 110%; /* 22px */
}
li {
  list-style-type: none;
}

.flex {
  display: flex;
}
.justify-center {
  justify-content: center;
}
.items-center {
  align-items: center;
}
.flex-row {
  flex-direction: row;
}
.column {
  flex-direction: column;
}
.justify-content-start {
  justify-content: start;
}
.justify-content-between {
  justify-content: space-between;
}
.align-items-center {
  align-items: center;
}
.align-items-start {
  align-items: start;
}

.mt-2{
  margin-top: 2rem;
}
.gap-sm {
  gap: 0.5rem;
}
.gap {
  gap: 1rem;
}
.gap-2 {
  gap: 2rem;
}
.w-50 {
  width: 50%;
}
.bold {
  font-weight: bold;
}

.border-gray-thick {
  border: 1px solid var(--content-color);
}

.margin-center{
  margin: 0 auto;
}

/* components */

.chip {
  display: inline-block;
  padding: 6px 6px;
  background-color: var(--opacity-tertiary-color); /* Color de fondo del chip */
  color: var(--tertiary-color); /* Color del texto */
  border-radius: 16px; /* Bordes redondeados */
  font-size: 14px;
  cursor: pointer;
}

.icon {
  width: 15px;
  height: 15px;
  color: var(--primary-color);
}
.paragraph {
  max-width: 1920px;
  width: 100%;
  gap: 4rem;
}

.list-type {
  max-width: 1920px;
  width: 100%;
  gap: 4rem;
}

.list-element {
  color: var(--content-color);
  font-family: Source Sans 3;
  font-size: 1.5rem;
  font-style: normal;
  font-weight: 400;
  line-height: 202%; /* 40.4px */
}

.blockquote {
  width: 1400px;
  gap: 4rem;
}

.blockquote div.wrapper {
  margin: 0 auto;
}

.blockquote div.quote {
  gap: 0.7rem;
}

.btn,
.btn-s,
.btn-m,
.btn-lg,
.btn-blue,
.btn-yellow,
.btn-gray {
  display: inline-flex;
  padding: 1.5rem 2rem;
  justify-content: center;
  align-items: center;
  gap: 0.7rem;
  border-radius: 0.3rem;
  font-size: 1.6rem;
}

.btn-m {
  padding: 1.5rem 2rem;
}

.btn-lg {
  padding: 1.5rem 3.5rem;
}

.btn-blue {
  color: var(--white);
  background-color: var(--primary-color);
}
.btn-yellow {
  color: var(--white);
  background-color: var(--secondary-color);
}
.btn-white {
  color: var(--primary-color);
  background-color: var(--white);
}

.fluid-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-gap: 2rem;
  grid-auto-flow: dense;
}

/* header */

.header {
  background-color: var(--white);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 999;
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  font-size: var(--font-size-md);
  color: var(--light-color);
}
.menu {
  position: absolute;
  top: var(--height-nav);
  right: 0;
  width: 100%;
  background-color: var(--secondary-background-color);
  opacity: 0;
  transform: scale(0);
  transition: opacity 0.25s ease-in;
}

.list {
  display: flex;
  align-items: center;
  font-size: var(--font-size-sm);
}
.menu > .list {
  flex-direction: column;
}

.menu .list-item {
  width: 100%;
  display: flex;
  justify-content: center;
  border: 1px solid var(--primary-color);
  background: var(--white);
}

.list-item .list-link {
  width: 100%;
  height: 100%;
  padding: var(--gap);
  display: flex;
  justify-content: center;
  align-items: center;
  transition: background-color 0.2s ease;
}
.list-item:hover .list-link {
  background-color: var(--primary-color);
  color: var(--white);
}

/* Header JavaScript Styles */
.header.active .menu {
  opacity: 1;
  transform: scale(1);
}

/* Hero Section */

.hero {
  width: 100%;
  height: calc(100vh - var(--height-nav));
  padding-top: var(--height-nav);
}

.hero.home {
  background-image: linear-gradient(to right top, #fcece5, #f3cfbe);
  overflow: hidden;
}

.hero.house {
  position: absolute;
  top: -30;
  left: -30;
  max-height: 100%;
  max-width: 100%;
}

/* todo */
.image-hero-wrapper {
  bottom: 0;
  width: 50%;
  /* border: thick solid yellowgreen */
}

.text {
  /* border: thick solid red; */
  height: 100%;
}

.home-image {
  /* border: thick solid blue; */
  width: 100%;
  height: 100%;
}

.residential-solutions {
  flex-direction: column;
}
/* .residential-solutions p {
  border: thick solid blue
} */

/* Properties section */

.properties-section {
  background-color: var(--quaternary-color);
}

/* Card Property */
.card {
  display: flex;
  width: 100%;
  padding: 2rem;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  flex-shrink: 0;
  background-color: var(--white);
  /* border: thick solid blue; */
}

.card .image {
  /* border: thick solid orange; */
  display: block;
  width: 100%;
  height: 100%;
}

.card .details {
  /* border: thick solid green; */
  width: 100%;
}

.details .price {
  font-size: 2.5rem;
  color: var(--secondary-color);
}
.details p {
  color: var(--content-color);
}
.details li {
  padding: 0 0.7rem;
}

/* hamburger */
.hamburger .line {
  width: 50px;
  height: 5px;
  background-color: var(--primary-color);
  display: block;
  margin: 8px auto;
  -webkit-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.hamburger:hover {
  cursor: pointer;
}

.header.active #hamburger-1 .line:nth-child(2) {
  opacity: 0;
}

.header.active #hamburger-1 .line:nth-child(1) {
  -webkit-transform: translateY(13px) rotate(45deg);
  -ms-transform: translateY(13px) rotate(45deg);
  -o-transform: translateY(13px) rotate(45deg);
  transform: translateY(13px) rotate(45deg);
}

.header.active #hamburger-1 .line:nth-child(3) {
  -webkit-transform: translateY(-13px) rotate(-45deg);
  -ms-transform: translateY(-13px) rotate(-45deg);
  -o-transform: translateY(-13px) rotate(-45deg);
  transform: translateY(-13px) rotate(-45deg);
}

@media (min-width: 768px) {
  .home-image img {
    width: 100%;
  }
  .residential-solutions {
    flex-direction: row;
  }
}

@media screen and (min-width: 992px) {
  .menu {
    position: initial;
    width: initial;
    padding: initial;
    background-color: var(--secondary-background-color);
    opacity: initial;
    transform: initial;
  }
  .menu > .list {
    flex-direction: row;
  }
  .menu .list-item {
    width: initial;
    border: none;
  }
  .list-item:hover .list-link {
    background-color: var(--primary-color);
    color: var(--white);
  }
  .hamburger {
    display: none;
  }
  .home-image img {
    width: 100%;
  }
}
